{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% block modaltitle %}{% if id is defined and id!='' and id!=0 %}Editar{% else %}Añadir Nuevo{% endif %} Vídeo{% endblock %}
 
{% block modalbody %}
                        {% if form_errors(new_form) %}
                        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
                       {% endif %}

                       <form class="col-md-12" action="#" id="insertvideoform">
                           
                            {% set configField = { 'label': 'Título', 'field': 'title'} %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

                            {% set configField = { 'label': 'Descripción', 'field': 'comments' } %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

                            {% set configField = { 'label': 'Url', 'field': 'path' } %}
                            {% include 'BEInterfaceBundle:_Modules:formfieldmodal.html.twig' %}

                            {{ form_widget(new_form['id_item'], {'attr': {'class': 'form-control'}, 'value': id_item }) }}
                            {{ form_widget(new_form['type'], {'attr': {'class': 'form-control'}, 'value': type }) }}
                            
                            {% if id is defined and id!='' and id!=0 %}
                                {{ form_widget(new_form['id'], {'attr': {'class': 'form-control'}, 'value': id }) }}
                            {% endif %}
                            
                            {{ form_widget(new_form._token) }}
                            <div class="clearfix"></div>
                       </form>

    
{% endblock %}         

{% block modalbuttons %}
    {% if id is defined and id!='' and id!=0 %}<button type="button" id="btn_deletevideo" class="btn red left">Eliminar</button>{% endif %}
    <button type="button" id="btn_savevideoyt" class="btn blue">Guardar</button>
{% endblock %}

{% block modalscripts %}
    {% set idfield = 'ytvideo_comments' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    
    <script>
        $(document).ready(function() {
            $('#btn_savevideoyt').click(function(){
                if (typeof(CKEDITOR) != 'undefined') $('#ytvideo_comments').val(CKEDITOR.instances['ytvideo_comments'].getData());
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('ytvideo_insertmodifyytvideo') }}',  $("#insertvideoform").serialize() , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    {% if id is defined and id!='' and id!=0 %}
                            $('#ytvideo_{{ id }}').replaceWith(r);
                    {% else %}
                           $('#videos_{{ id_item }}').append(r);
                    {% endif %}

        
                   $('#videos_{{ id_item }}').mixitup();
                   
                    $('.modal').modal('hide');
                });               
            });
            
            $('#btn_deletevideo').click(function(){
                if (!confirm('¿Realmente desea eliminar el vídeo? OPERACIÓN IRREVERSIBLE')) return;
                $('#buttons_modal').css('display', 'none'); $('#ajaxloader').css('display', 'block');                
                $.post('{{ path('ytvideo_dropytvideo') }}',  $("#insertvideoform").serialize() , function(r){
                    $('#buttons_modal').css('display', 'block'); $('#ajaxloader').css('display', 'none');                
                    if (r.errorCode){ alert(r.errorDescription); return; }
                    
                    $('#ytvideo_{{ id }}').remove();
                    
                     alert('El vídeo ha sido eliminado correctamente');
                    
                    $('.modal').modal('hide');
                });               
            });
            
        });
     </script>
 {% endblock %}