{# 
Pacolmg
Greetik Soluciones SL
Template to view a list of youtube videos
#}
{% if configFiles['modifyAllow'] is defined and configFiles['modifyAllow']==true %}
    <div class="btn-group">
        <a data-toggle="modal" data-target="#modal_ajax" href="{{ path('ytvideo_insertformytvideo', {'id_item': configFiles['id'], 'type': configFiles['type'] }) }}" class="btn btn red">Nuevo <i class="fa fa-youtube"></i></a>
    </div>
    {% endif %}

    <!-- BEGIN FILTER -->           
      <div class="margin-top-10">
        <ul class="mix-filter">
          <li class="filter" data-filter="all" style="display:none">Todos</li>
       </ul> 
      {% if ytvideos is defined %}
       <div class="row mix-grid thumbnails" id="videos_{{ configFiles.id }}" >
          {% for ytvideo in ytvideos %}
                {% include('YtvideoBundle:Ytvideo:ytvideo.html.twig') %}
          {% endfor %}
       </div>
       {% endif %}
    </div>
    <!-- END FILTER -->             
    
    {% set idportfolio = "videos_"~configFiles.id %}
    {% include('BEInterfaceBundle:_Scripts:portfolioimages.html.twig') %}
    
    <script>
        $(document).ready(function(){
            $( "#videos_{{ configFiles.id }}" ).sortable({
                //items: ".template-download:not(.clearfix)",
                cursor: "move",
                stop: function( event, ui ) {
                    var _itemposition = ui.item.index()
                    
                    //save the new position
                   $.post("{{ path('ytvideo_moveytvideo') }}", { id: ui.item.attr('data-id'), newposition: _itemposition  },function(r){
                        if (r.errorCode>0){alert("Error Moviendo Imagen: "+r.errorDescription);return;}
                    });                    
                }
            });
            $( "#gallery_files_{{ configFiles.id }} .clearfix" ).disableSelection();            
        });
        
            
    </script>