<div class="col-md-3 col-sm-4 mix category_1 mix_all" id="ytvideo_{{ ytvideo.id }}" data-id="{{ ytvideo.id }}" style="display: inline-block;  opacity: 1;">             
    <div class="mix-inner">
        <img class="img-responsive" src="{{ ytvideo.thumbnail }}" alt="">
        <div class="mix-details">
           <h4>{{ ytvideo.title }}</h4>
           {% if configFiles['modifyAllow'] is defined and configFiles['modifyAllow']==true %}<a data-toggle="modal" data-target="#modal_ajax" class="mix-link" href="{{ path('ytvideo_insertformytvideo', {'id_item': configFiles.id, 'id': ytvideo.id, 'type': configFiles.type }) }}"><i class="fa fa-link"></i></a>{% endif %}
           <a class="mix-preview fancybox-button fancybox.iframe" href="{{ ytvideo.embedurl }}" title="ver Vídeo" data-rel=""><i class="fa fa-search"></i></a>
        </div>
     </div>
</div>        